

@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans:400');
*{
   list-style: none;
   text-decoration: none;
   border-collapse: collapse;
   margin: 0px;
   padding: 0px;
   color: #fff;
}
h2{
	font-size: 68px;
	font-weight: 100;
}
h4{
	font-size: 40px;
	font-weight: lighter;
}
/*--------*/
.intro_bg{
	background:url("../images/main_movie/wu.jpeg") no-repeat center center;
	background-size: cover;
	position: relative;
	width: 100%;
	height: 718px;
}

.img_gradiant{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.8));
	z-index: 1;
}
.header{
   display: flex;
   width: 100%;
   margin: 0px auto;
   height: 86px;
   /*position: fixed;*/
   /* background: red; */
} 
.logo, .nav{
	/* float: left; */
	/* line-height: 86px; */
	margin-top: 30px;
	height: 46px;
	/* background: yellow; */
}
.logo{
	float: left;
	width: 100px;
	margin-left : 20px;
}
.nav{
   display: flex;
   justify-content: flex-start;
   width: 1000px;
   line-height: 46px;
 /*  background: yellow; */
}
.nav > li{
   margin-right: 10px;
   display: inline-block;
}
.nav > li:not(:last-child) > a{
   border-right: 1px solid #E1E1E1;
   padding: 0px 30px;
   
}
.search_area{
  /* float: right; */
 /*  display: flex; */
   justify-content: flex-end; 
   height: 46px;
   line-height: 46px;
   width: 300px;
   background: rgba(0,0,0,0.5);
   border-radius: 10px;
   margin: 24px 0px 0px 200px;
}
.search_area form input{
	border: none;
	width: 230px;
	height: 40px;
	background: rgba(0,0,0,0.0);
	padding-left: 10px;
	margin: 0px 1px; 
	/* background: yellow; */
}
.search_area form span{
	width: 70px;
	font-weight: bold;
	cursor: pointer;
	/* background: red; */
} 
.intro_text{
	width:100%;
	height: 130px;
	margin:300px auto 40px auto;
	text-align: center;
	/* background-color: red; */
}
.intro_text .wu{
	font-family: 'Nanum Pen Script';
}
.intro_text .btn_view{
	background-color: rgba(102, 102, 102, 0.8);
	display: inline-block; /*이걿 해줘야 크기 조정 가능*/
	width: 200px;
	height: 50px;
	margin-top: 10px;
	line-height: 50px;
	font-size: 30px;
	font-weight: 100;
	border-radius: 5px;
	transition: 0.5s;
}
.intro_text .btn_view:hover{
	transform: scale(0.9);
}
/* .arrow-prev::after {
    position: absolute;
    left: 35px; 
    top: 300px;
    content: '';
    width: 50px; 사이즈
    height: 50px; 사이즈
    border-top: 5px solid #B0B0B0; 선 두께
    border-right: 5px solid #B0B0B0; 선 두께
    border-radius: 2px;
    transform: rotate(225deg); 각도
    cursor: pointer; 
}
.arrow-next::after{
	position: absolute;
	right: 35px;
	top: 300px;
	content: '';
	width: 50px;
	height: 50px;
	border-top: 5px solid #B0B0B0; 선 두께
    border-right: 5px solid #B0B0B0;
    border-radius: 2px;
    transform: rotate(45deg);
    cursor: pointer; 
} */
/*intro end*/

/*새로 추가*/
.swiper-wrapper{
	min-width: 1280px;
	width: 100%;
	height: 400px;
	margin: 10px 50px;
}

.swiper-pagination-bullet{ /*페이지를 이동할 때 아래 하얀 바로 어디 페이지인지 보여줌*/
	width: 40px;
	height: 3px;
	border-radius: 0;
	background-color: #fff;
}

.swiper-pagination-bullet-active{
	background: #fff;
	width: 80px;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled{
	opacity: 0; /*제일 왼쪽으로 갈때는 왼쪽 화살표가 없어지고, 오른쪽은 그 반대*/
}

.swiper-button-next,
.swiper-button-prev{
	width: 40px;
	height: 40px;
	background-color: #3d3d3d;
	backdrop-filter: blur(3px);
	background-size: 18px;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 2;
	border-radius: 50%;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	position: absolute;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after{
	display: none;
}

.swiper-button-next:hover,
.swiper-button-prev:hover{
	background-color: #b2b2b2;
	box-shadow: 0 4px 12px rgba(0, 79, 255, 0.4);
}

.swiper-button-prev,
.swiper-button-prev:hover{
	background-image: url(../image/prev_arrow2.svg);
	left: 20px;
}

.swiper-button-next,
.swiper-button-next:hover{
	background-image: url(../image/next_arrow.svg);
	right: 20px;
}

/*-------------*/
.top5_section,
.new_section,
.only_section,
.footer{
	min-width: 1280px;
	width: 100%;
	height: 400px;
	margin: 50px auto;
	/* background: yellow; */
}

/* .top5_section .top5_title{
	background: red;
} */

.top5_section .top5_title .title_area,
.seemore,
.new_area,
.only_area{
	line-height: 36px;
	margin: 0px 30px 10px 20px;
}

.top5_section .top5_title .title_area,
.new_area,
.only_area
{
	font-size: 30px;
	/* background: green;  */
	/* color: black; */
}
.seemore{
	float: right;
	font-size: 18px;
	color: darkgray;
	/* background: pink; */
}
.top5_programes,
.new_programes,
.only_programes{
	/* background: skyblue; */
	width: 100%;
	height: 340px;
	text-align: center;
	margin: 10px auto;
}/*카드들을 화면 정 가운데에 배치하기 위하여 container로 묶어줌*/
.card-box{
	position: relative;
	border-radius: 16px;
	width: 250px;
	height: 330px;
	margin-right: 10px;
	box-shadow: 0 20px 35px rgba(0,0,0,0.26);
	overflow: hidden;
	display: inline-block;
	/* margin: 10px; */
	transition: 0.5s;
}
.card-box:hover{
	transform: scale(0.95);
}/*마우스 오버시 크기가 작아진다.*/
.img-gradient{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1));
	z-index: 1;
}
.text-wrap{
	position: absolute;
	bottom: 0;
	padding: 24px;
	z-index: 2;
	text-align: left;
}
.text-wrap h1{
	color: #fff;
	font-size: 24px;
	margin-bottom: 8px;
	font-weight: bold;
}
.text-wrap p{
	color: #fff;
	font-size: 18px;
	line-height: 1.5;
	margin: 0;
}
.play-btn{
	width: 60px;
	height: 60px;
	position: absolute;
	right: 24px;
	top: 30px;
	background: #fff url(../images/main_movie/playbtn.png) no-repeat center;
	background-size: 24px;
	border-radius: 50%;
	z-index: 2;
}

/*footer*/

.footer .footer-top{
	/* background: red; */
	margin: 0 30px 30px;
	font-size: 20px;
    color: darkgray;
}

.footer-label,
.footer-top-a{
	color: darkgray;
}

.footer-links-list{
	margin: 30px;
	box-sizing: border-box;
	font-size: 15px;
	max-width: 1200px;
	/* background: skyblue; */
	color: darkgray;
	display: flex;
	justify-content: space-between; /*li가 서로 일정한 간격을 주면서 가로로 정렬*/
}

.footer-link-item{	
	/* display: inline-block; */
	width: 123px;
	/* margin-right: 30px; */
}

.lan-menu{
	margin: 50px;
	/* float: right; */
	position: relative;
}

.selected-lan{
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	line-height: 2;
	width: 100px;
	color: darkgray;
}

.selected-lan:before{
	content: '';
	display: block;
    width: 32px;
	height: 32px; 
<<<<<<< HEAD
	background: url(../image/globe.svg) no-repeat center;
=======
<<<<<<< HEAD
	background: url(../images/main_movie/globe.svg) no-repeat center;
=======
	background: url(../image/globe.svg) no-repeat center;
>>>>>>> 9e8bef23461baa45af0ce955272581c0cf8a96c8
>>>>>>> 9277c815f9cfe7a8ce14fcd45b36a85f984f4fad
}

.lan-menu ul{
	background-color: #fff;
	border: 1px solid #f8f8f8;
    width: 145px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    border-radius: 5px;
    display: none;
    margin-top:10px;
    position: absolute;
    top: 30px;
    left: 0;
}


.lan-menu:hover ul{
	display: block;
}


.lan-menu ul li a{
	width: 125px;
	display: block;
	padding: 5px 10px;
	color: darkgray;
}

.lan-menu ul li a:hover{
	background-color: #f2f2f2;
	/* width: 125px; */
}
.copy-text{
	margin: 30px;
	color: darkgray;
	line-height: 150%;
}

.last-footer{
	display: flex;
	justify-content: space-between;
}
