@charset "UTF-8";
@import
	url('https://fonts.googleapis.com/css?family=Black+Han+Sans:400');

* {
	list-style: none;
	text-decoration: none;
	border-collapse: collapse;
	margin: 0px;
	padding: 0px;
	color: #fff;
	box-sizing: border-box;
}

.inner_wrap{
	background-color:white;
	padding-top:20px;
	padding-bottom:100px;
	width:1432px;
	height:599px;
	margin:0 auto;
}

.quick-reserve-include{
	width:1500px;
	margin:0 auto;
	padding: 0;
	background-color: white;
}

.quick-reserve-area{
	border-top:0;
}

.quick-reserve-area .movie-choice{
	position: relative;
	float: left;
	width: 270px;
	height: 529px;
	padding: 0 20px 17px 20px;
	border-right: 1px solid #d8d9db;
	background-color:#333;
}

.quick-reserve-area .tit{
	overflow: hidden;
	display: block;
	width:100%;
	height: 38px;
	margin: 0;
	padding: 0;
	color:#222;
	font-size: 1.2em;
	line-height: 38px;
}

.quick-reserve-area .list-area{
	position: relative;
	width:100%;
	margin:0;
	padding:40px 0 0 0;
}

.quick-reserve-area .list-area .all-list .btn-tab.on{
	border-right: 1px solid #555;
	width: 154px;
}

.quick-reserve-area .movie-choice .list-area .btn-tab{
	width:115px;
}

.quick-reserve-area .list-area .btn-tab.on{
	border-color: #666;
	border-bottom: 0;
}

.quick-reserve-area .list-area .btn-tab{
	display: block;
	position: absolute;
	left:0;
	top:0;
	z-index: 2;
	height: 30px;
	font-size: .9333em;
	color: #222;
	border:1px solid #d9d8dd;
	background-color:#fff; 
}

.quick-reserve-area .list-area .list{
	display:block;
	width:100%;
	height:360px;
	margin-top: 10px; 
}

.quick-reserve-area .list-area .list .scroll{
	overflow:hidden;
	display:block;
	width:100%;
	height:100%;
}

.mCustomScrollBox{
	position: relative;
	overflow:hidden;
	height: 100%;
	max-width: 100%;
	outline: 0;
	direction: ltr;
}

.mCSB_container{
	overflow:hidden;
	width:auto;
	height: auto;
	margin-right: 5px;
}

.mCSB_container_1{
	overflow:hidden;
	width:auto;
	height: auto;
	margin-right: 5px;
}

.mCSB_container_1 ul li{
	color:#fff;
	margin: 6px 0 0 0;
}

.mCSB_container ul li{
	color:#000;
}

.quick-reserve-area .movie-choice .list-area .other-list .btn-tab{
	left : 115px;
}

.quick-reserve-area .list-area .other-list .btn-tab{
	border-left:0;
}

.quick-reserve-area .theater-choice{
	float: left;
	width: 350px;
	height: 530px;
	padding: 0 20px 20px 20px;
	border-right: 1px solid #d8d9db;
	border-top: 1px solid #d8d9db;
}

.quick-reserve-area .theater-choice .list-area{
	position: relative;
}

.quick-reserve-area .theater-choice .list-area .btn-tab{
	width:155px;
}

.quick-reserve-area .list-area .list .scroll{
	position: relative;
	height: 100%;
}

.quick-reserve-area .list-area .list .scroll ul li button{
	display: block;
	min-height: 28px;
	/*padding: 3px 30px 3px 30px;*/
	text-align: center;
	font-size: .8667em;
	letter-spacing: 0;
	width:154px;
	cursor: pointer;
	border-radius: 10px;
}

.movie.active{
	border:4px solid #0080ff;
}

.quick-reserve-area .list-area .list .scroll ul li button span{
	display:inline-block;
	margin: 0 2px 0 0;
	vertical-align: middle;
	color:#000;
}

.quick-reserve-area .list-area .list .scroll ul li button.on{
	font-weight: 400;
}

.quick-reserve-area .theater-choice .list .scroll ul li .btn.on{
	color:#444;
	background-color:#ebebeb; 
}

.quick-reserve-area .theater-choice .list .scroll ul li .btn{
	overflow: visible;
	position: relative;
	width:50%;
	padding-left: 10px;
	padding-right: 10px;
}

.quick-reserve-area .theater-choice .list .scroll ul li .depth.on{
	display:block;
}

.quick-reserve-area .theater-choice .list .scroll ul li .depth{
	position: absolute;
	left:50%;
	top:0;
	width:50%;
	height: 320px;
	padding: 0;
}

.quick-reserve-area .theater-choice .list .scroll ul li .depth .detail-list{
	width: 100%;
	height: 100%;
	margin: 0;
}

.quick-reserve-area .theater-choice .list-area .other-list .btn-tab{
	left:155px;
}

.theater_bt{
	width: 149px;
    font-size: 15px;
    border-radius: 11px;
    border: 1px solid;
    cursor: pointer;
}

.theater_bt.active{
	border: 2px solid #000;
}

.theater_bt span{
	color:#000;
}


.quick-reserve-area .date-choice{
	float:left;
	width:112px;
	height:530px;
	padding:0;
	border-right: 1px solid #d8d9db;
	border-top:1px solid #d8d9db;
}


.quick-reserve-area .date-choice .tit{
	padding-left: 20px;
	float: left;
	width:auto;
}

.quick-reserve-area .tit-area{
	overflow: hidden;
	height: 38px;
}

.re_date{
	color:#000;
}

.hour-schedule{
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 490px;
	padding: 0;
}

.date-schedule{
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 490px;
	padding: 0;
}

.date-schedule .date-list{
	float:left;
	background-color:#fff;
	width:100px;
	height: 99%;
	
}

.date-list-ul{
	height: 487px;
	overflow:auto;
}

.date-list-ul::-webkit-scrollbar {
    width: 10px;
}

.date-list-ul::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px
 }
  
.date-list-ul::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 10px
 }

.li-month{
	margin-left: 22px;
    overflow: hidden;
    float: left;
    margin-bottom: 1px;
    width: 54px;
    height: 58px;
}

.span-year{
	display: block;
    margin-top: 12px;
    text-align: center;
    color: #666;
    font-size: 11px;
    font-family: Verdana;
    font-weight: bold;
    line-height: 11px;
	
	
}

.span-month{
	display: block;
    margin-top: 3px;
    text-align: center;
    color: #666;
    font-size: 30px;
    font-family: Verdana;
    font-weight: bold;
    line-height: 30px;
}

.li-day{
	margin-left: 10px;
    width: 67px;
    position: relative;
    clear: both;
    float: left;
    height: 35px;
    line-height: 35px;
    margin-bottom: 1px;
}




.li-day button{
	display: block;
    height: 100%;
    vertical-align: middle;
    padding-left: 8px;
    padding-right: 7px;
    /* margin-left: 13px; */
    width: 63px;
    background-color: #fff;
    cursor: pointer;
    border: 1px solid;
}

.li-day button.select{
	border:3px solid #000;
}

.span-dayweek{
	float: left;
    color: #333;
    font-size: 13px;
    padding-top: 2px;
    cursor: pointer;
}

.span-day{
	float: right;
    color: #333;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 2px;
	
}

.span-dayweek.토{
	color:#0080ff;
}

.span-day.토{
	color:#0080ff;
}

.span-dayweek.일{
	color:#ff0000;
}

.span-day.일{
	color:#ff0000;
}

.span-day:visited{
	
	background-color: black;
}

.quick-reserve-area .movie-schedule-area{
	overflow: hidden;
	margin-top:10px;
	height: 430px;
	background-color:#fff;  
}

.quick-reserve-area .movie-schedule-area .result{
	height:100%;
	padding:0;
	text-align: center;
}

.quick-reserve-area .movie-schedule-area .result ul{
	height:100%;
}

.quick-reserve-area .movie-schedule-area .result ul li{
	border:1px solid #ebebeb;
}



.quick-reserve-area .movie-schedule-area .result ul li .time{
	display: table-cell;
	width:60px;
	padding: 10px 0;
	text-align: left;
	vertical-align: top;
	font-weight: 300;
} 

.quick-reserve-area .movie-schedule-area .result ul li .time strong{
	display: block;
	font-size: 1.2em;
	font-weight: 700;
	color:#000;
}

.quick-reserve-area .movie-schedule-area .result ul li .time em{
	display: block;
	padding:3px 0 0 0 ;
	font-size: .8667em;
	font-weight: 300;	
}

.quick-reserve-area .movie-schedule-area .result ul li .title{
	display:table-cell;
	width:275px;
	padding:10px 0;
	text-align: left;
}

.quick-reserve-area .movie-schedule-area .result ul li .title strong{
	display:block;
	font-weight: 400;
	padding: 0 5px 0 0;
	line-height: 1.3;
	margin-top:3px;
	color:#000;
}

.quick-reserve-area .movie-schedule-area .result ul li .info{
	display:table-cell;
	width:110px;
	padding: 0 5px 0 0;
	font-size: .8em;
	vertical-align: middle;
	text-align: right;
}

.quick-reserve-area .movie-schedule-area .result ul li .info .theater{
	overflow: hidden;
	display:block;
	padding:0;
	line-height: 1.5;
	color:#000;
}

.quick-reserve-area .movie-schedule-area .result ul li .info .seat{
	overflow: hidden;
	display: inline-block;
	width:60px;
	height:20px;
	padding:0;
	text-align: center;
	border:1px solid #f2f4f5;
}

.quick-reserve-area .movie-schedule-area .result ul li .info .seat .now{
	display: inline-block;
	color:#01738b;
	line-height: 20px;
	vertical-align: middle;
	margin-bottom: 4px; 
}

.quick-reserve-area .movie-schedule-area .result ul li .info .seat span{
	display:inline-block;
	margin-top:4px;
	padding:0;
	font-size:.6em;
	color: #666;
	line-height: 1.1;
	vertical-align: top;
}

.quick-reserve-area .movie-schedule-area .result ul .hour_color{
	color:#000;
}

.quick-reserve-area .movie-schedule-area .result ul li .info .seat .all{
	display: inline-block;
	color:#666;
	line-height: 20px;
	vertical-align: middel;
}

.hour_btn{
	background-color:#fff;
	border: 1px solid #fff;
	cursor: pointer;
}

.hour_btn.sel{
	border:3px solid #000;
	background-color:#e8e8e8;
}

.hour_btn:hover{
	background-color:#e8e8e8;
	cursor: pointer;
}

.quick-reserve-area .hour-choice{
	float:left;
	width:400px;
	height:530px;
	padding:0 20px 20px 20px;
	border-right: 1px solid #d8d9db;
	border-top:1px solid #d8d9db;
}

.quick-reserve-area .hour-choice .hour-schedule
.hour_btn sapn{ 
	color:#000;
}

.quick-reserve-area .hour-choice .hour-schedule
.hour_btn{
	color:#000;
}

.hour-list{
	margin-bottom:15px;
}

.end{
	float:left;
	width:300px;
	height:530px;
	padding:0 20px 20px 20px;
	background-color: #333;
}

.end_area{
	overflow:hidden;
	position: relative;
	width:100%;
	height:100%;
	padding:0;
	margin-top:0px;
}

.end .end_area .tit_area{
	overflow:hidden;
	position: relative;
	/*margin-left:20px;*/
	/*padding:0 0 0 28px;*/
	border-bottom: 1px solid #d8d9db;
}

.end .end_area .tit_area .titl{
	overflow: hidden;
	width:100%;
	/*padding:1px 0 0;*/
	font-size:1.0667em;
	font-weight: 400;
	line-height: 1.1;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-top:20px;
	/*color:#000;*/
}

.end .end_area .tit_area .cate{
	font-size: .8667em;
	color:#aaa;
	line-height: 1.1;
}

.end .info-area{
	position: relative;
	min-height: 121px;
	padding: :0 104px 0 0;
	font-size: .8667em;
	border-bottom: 1px solid #d8d9db;
}

.end .info-area .theater{
	padding-top: 10px;
}

.end .info-area p{
	padding:0;
	color:#808080;
}

.end .info-area .date span{
	padding:0;
	color:#808080;
}



.end .info-area .poster{
	position: absolute;
	right:24px;
	top:10px;
	width:70px;
	height: 100px;
	padding:0;
	background-color: blue; 
}

.result-area{
	border: 1px solid;
    width: 260px;
    text-align: center;
    height: 26px;
    cursor: pointer;
    margin-top: 12px;
}

.result-area .result-btn{
    width: 258px;
    height: 24px;
    position: absolute;
    left: 1px;
    background-color: #000;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}


input[type="radio"]{
	display:none;
}

input[id="tab01"] + label{
	display: block;
    background: #eee;
    color: #000;
    cursor: pointer;
    text-align: center;
    width: 154px;
    /* border: 1px solid; */
    margin-bottom: 7px;
    border-radius: 10px;
}

input[type="tab02"] + label{
	display: block;
    background: #eee;
    color: #000;
    cursor: pointer;
    text-align: center;
    width: 154px;
    /* border: 1px solid; */
    margin-bottom: 7px;
    border-radius: 10px;
}



input[id="tab01"]:checked + label{
	background: #e1e1e1;
    color: #000;
    display: block;
    width: 154px;
    text-align: center;
    border: 1px solid;
    margin-bottom: 7px;
}

input[id="tab02"]:checked + label{
	background: #e1e1e1;
    color: #000;
    display: block;
    width: 154px;
    text-align: center;
    border: 1px solid;
    margin-bottom: 7px;
}


.theaterbox{
	width: 154px;
    height: 364px;
    position: relative;
    left: 161px;
    bottom: 60px;
    display: none;
}

.theaterbox ul li{
	color:#000;
	margin: 8px 0 0 0;
}

input[id="tab01"]:checked ~ .box1{
	display:block;
}

input[id="tab02"]:checked ~ .box2{
	display:block;
}

input[id="tab03"]:checked ~ .box3{
	display:block;
}


